@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body {

  height: 100vh;
  width: 100vw;
}


/*Exception*/

.shadowNeumorphism {

  background: #e0e0e0;
  box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
}

.shadowNeumorphism2 {
  color: #090909;
  padding: 10px ;
  background: #e8e8e8;
  cursor: pointer;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
}

.shadowNeumorphism2:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
}

.marginspecial {
  margin-right: 30px;
}

.marginspecial:last-child {
  margin-right: 0; 
}

.specialinput {


    outline: none;
    border: none;
    margin-left: 15px;
    width: 60%;

}

.specialhover {

  cursor: pointer;
  transition: all 0.3s;
  margin-top: 10px;
}

.specialhover:hover {

  text-decoration: underline;
}


.specialhover {

  font-weight: 700;
}